appdirs
black==23.1.0
debugpy
einops
isort==5.11.5
numba!=0.49.0
numpy
opencv-python
pasteboard ; sys_platform=="darwin"
Pillow
protobuf==3.20.2
pylint==2.16.1
pyright==1.1.294
pytest
pywin32 ; sys_platform=="win32"
requests
sanic==21.12.2
sanic_cors==2.2.0
scipy==1.9.3
websockets==10.4

ipython
jupyter
jupyter_server==2.5.0

matplotlib
aioreactive
chromadb
pandas
pymysql
openai
langchain
protobuf
reactivex
langchain
openai-async
async-signals
nbclient
jupyter_server
google-search-results

# torch
# torchvision
# google-re2

